body {
  font-size: 13px;
  line-height: 1.61538462em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #F0EDE2;
}

p,
input,
button,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.61538462em;
}

a {
  color: #8d0d1c;
}

.center {
  text-align: center;
}

@media (min-width: 980px) {
  body {
    padding-top: 58px;
  }
}

.page-header {
  border-bottom: 1px solid #fff;
  margin: 18px 0;
  padding-bottom: 17px;
}

img.rails {
  margin-top: -20px;
  margin-bottom: 20px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

h1, h1 a,
h2, h2 a {
  color: #8C0A1B;
}

h1 {
  margin-bottom: 0.25em;
}

.marketing-byline {
  color: #2f2f2f;
  font-size: 14px;
  text-transform: none;
}

.icons-ios,
.icons-android,
.icons-html5,
.icons-phonegap,
.icons-blackberry,
.icons-css3 {
  background: url('../img/tool-icons.png') left 5px no-repeat;
  padding-left: 44px;
  padding-top: 10px;
  line-height: 50px;
  height: 50px;
  display: block;
}
.icons-ios {
  background-position: -0px -542px;
}
.icons-android {
  background-position: -0px -415px;
}
.icons-html5 {
  background-position: -0px -206px;
}
.icons-phonegap {
  background-position: -0px -345px;
}
.icons-blackberry {
  background-position: -0px -482px;
}

.icons-ios a,
.icons-android a,
.icons-html5 a,
.icons-phonegap a,
.icons-blackberry a,
.icons-css3 a {
  line-height: 1;
  display: block;
}

#posts img {
  display: block;
}

.marketing {
  margin-top: -19px;
}

.span4 {
  margin-bottom: 1.53846154em;
}

.span4 h2 a {
  font-size: 22px;
}

.span4 h1,
.span8 h1 {
  color: #303030;
}

.span3 h3 {
  color: #333;
  margin: 0.5em 0;
}

.span3 h3 span {
  font-size: 0.833333333em;
}

.span3 a.btn {
  white-space: nowrap;
}

.form-horizontal .form-actions {
  background: none;
  border: none;
  margin-top: 0;
  padding-top: 1em;
}

.btn-large i {
  margin: -2px 3px 2px 0;
  vertical-align: middle;
}

footer .muted {
  margin-bottom: 2em;
}
